bin/
obj/
out/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.log

.DS_Store
Thumbs.db

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

project.assets.json
*.runtimeconfig.dev.json

TestResults/
*.trx
*.coverage
*.coveragexml

publish/
*.publish.xml

_ReSharper*/
*.DotSettings.user

*.dotCover

*.azurePubxml

/.vs/config/applicationhost.config

*.mdf
*.ldf

Migrations/*.Designer.cs

*.bak
*.tmp
*.temp

Generated/
*.g.cs
*.g.i.cs

*.rsuser

*.pdb

*.psess
*.vsp
*.vspx

.history/
